<h1>BOOK WITH TEMPLATE FROM REMOTE</h1>

<ul>
	<li><a href="sectiona/content.html">Section A - Public</a></li>
	<li><a href="sectionb/content.html">Section B - Private</a></li>
	<li><a href="sectionc/broken.html">Broken Link</a></li>
	<li><a href="#valid_anchor">Valid anchor</a></li>
	<li><a href="#slkadjflkjda">Broken anchor</a></li>
</ul>

<p>Template changes should trigger rebuild</p>

<p><a id="valid_anchor">valid anchor</a></p>


